@import "../App.scss";

.main-menu-container {
  position: absolute;
  right: 7%;
  top: 30%;
  display: grid;
  grid-gap: 7% 2%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  width: 40%;
  height: 35%;
}

.main-menu-container > * {
  @extend .flex-center;
  min-width: 100%;
  background-color: $gray;
  color: $white;
  font-weight: bold;
  font-size: 3vw;
  padding: 0;
  -webkit-box-shadow: -5px 5px 15px 5px #000000; 
  box-shadow: -5px 5px 15px 5px #000000;
  @extend .clip-path;
  margin: 0 auto;
}
.yellow-main-btn{
  background: $orange;
  color: $black;
}

